@page
@model IndexModel
@using CambridgeChallenge
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="d-flex flex-row align-items-center" style="width: 100%">
        <h1 class="px-2">Coming Up</h1>
        <hr class="rounded" style="width: 80%; background-color: #FF0000; height: 2px" />
    </div>
    <table class="table table-responsive">
        @{var i = 0;}
        @foreach (var item in Model.dateDictionary.Keys)
        {
            <component 
                type="typeof(Components.Date)" 
                render-mode="Static" param-date="@item" 
                param-cols="@Model.cols"
                param-currow="@i"
                param-maxrow="@Model.rows"
                param-events="@Model.dateDictionary[item]"/>
            i += Models.EventModel.rowsForDate(Model.dateDictionary[item].Count, Model.cols);
        }
    </table> 
</div>


